h1 {
    color: darkcyan;
}

p strong {
    color: red;
}

.destacado {
    color: darkorange;
}

h2 {
    color: blue;
}

a {
    color: red;
}

a em {
    color: blue
}

p .especial {
    color: blueviolet;
}



thead {
    color: darkorange;
}

tbody .especial {
    color: darkorange;
}

tbody th {
    color: red;
}

tfoot {
    color: red;
}

tr td {
    color: darkcyan;
}

strong {
    color: darkorange;
}

table {
    border-collapse: collapse;
}

#adicional {
    color: darkkhaki;
}

#especial {
    color: deeppink;
}

div p a {
    color: teal;
}